
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.5px;
    color: linear-gradient(to bottom ring, #002f4b, #dc4225);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    transition: 0.5s;
    padding: 100px 100px;
    z-index: 1000;
}
#logo {
    font-size: 40pt;
    text-decoration: none;
    font-weight: bold;
    /*color: #fff;*/
    /*opacity: 80%;*/
}
nav ul li {
    position: relative; 
    display: flex; 
    justify-content : center;
    align-items: center; 
    font-size: 20pt;
    opacity: 80%;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position:absolute;
    right: 40px;
    height: auto;
}
aside > p {
    margin: 0.5rem;
}

article img {
    max-width: 400px;
    
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;

}